<h1 class="jumbotron">Burgers I'd Like To Consume</h1>

<h3>Burgers That I've EATEN</h3>
<ul>
  {{#each burgers}}
  <li>Burger: {{burger_name}}</li>
    {{#if devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h3>Burgers I've Not Yet EATEN</h3>

<ul>
  {{#each burgers}}
      {{burgers}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="new-burger m-3">

  <div class="form-group">
    <label for="burger">Add A Burger!</label>
    <input type="text" id="burger-name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Have You Eaten This Burger Before?</label><br>
    <input type="radio" name="eaten" value="1"> Eaten!<br>
    <input type="radio" name="not-eaten" value="0"> Never Eaten Before!
  </div>

  <button type="submit" class='btn btn-primary'>Add Burger</button>
</form>
